# This is going to be awesome

### Imports

In [1]:
import pandas as pd
import numpy as np

In [2]:
pre = pd.read_csv('data/pre.csv', quotechar='\t')
during = pd.read_csv('data/during.csv', quotechar='\t')
post = pd.read_csv('data/post.csv', quotechar='\t')
pre.columns

Index(['"Timestamp', '""Participant ID (top-right corner of the screen)""',
       '""How old are you?""', '""Gender?""',
       '""What describes you the best?""',
       '""How comfortable are you in expressing emotions?""',
       '""Have you ever played with the drummer bot dB before?""',
       '""How much prior experience do you have with interactive musical interfaces (e.g. sensor systems. digital control devices)?""',
       '""How often do you use AI tools for creativity (e.g. writing. coding. music. fine arts. food recipes. etc.)?""',
       '""Please indicate if you have any of the following health problems.""";'],
      dtype='object')

### Filter data

In [3]:
# inspect for test data
mask = np.column_stack([pre[col].str.contains('test', na=False) for col in pre])
print(pre[mask])

mask = np.column_stack([pre[col].str.contains('Test', na=False) for col in pre])
print(pre[mask])

                        "Timestamp  \
0     "2024/11/04 5:15:10 PM GMT+1
50    "2024/11/07 2:09:46 PM GMT+1
63   "2024/11/08 12:47:28 PM GMT+1
128  "2024/11/11 11:03:28 AM GMT+1
131  "2024/11/11 11:29:10 AM GMT+1
135  "2024/11/11 11:55:54 AM GMT+1
137  "2024/11/11 12:11:12 PM GMT+1
140  "2024/11/11 12:33:52 PM GMT+1

    ""Participant ID (top-right corner of the screen)"" ""How old are you?""  \
0                                             ""test""                ""66""
50                                      ""kuromitest""                ""23""
63                                            ""test""                ""24""
128                                   ""group8_test1""                ""25""
131                                        ""8_test1""                ""25""
135                                        ""8_test3""                ""22""
137                                     ""8_testing3""                ""22""
140                                     ""8_testing4""                ""30""

               ""Gender?""          ""What describes you the best?""  \
0    ""Prefer not to say""    ""Student/semi-professional musician""
50                ""Male""    ""Student/semi-professional musician""
63              ""Female""         ""Averagely interested in music""
128               ""Male""  ""Not particularly interested in music""
131               ""Male""  ""Not particularly interested in music""
135             ""Female""                   ""Avid music listener""
137             ""Female""         ""Averagely interested in music""
140             ""Female""                 ""Professional musician""

    ""How comfortable are you in expressing emotions?""  \
0                                                ""3""
50                                               ""2""
63                                               ""4""
128                                              ""3""
131                                              ""3""
135                                              ""3""
137                                              ""2""
140                                              ""4""

    ""Have you ever played with the drummer bot dB before?""  \
0                                              ""Yes""
50                                             ""Yes""
63                                             ""Yes""
128                                             ""No""
131                                             ""No""
135                                             ""No""
137                                             ""No""
140                                             ""No""

    ""How much prior experience do you have with interactive musical interfaces (e.g. sensor systems. digital control devices)?""  \
0                                                ""4""
50                                               ""3""
63                                               ""0""
128                                              ""0""
131                                              ""0""
135                                              ""1""
137                                              ""1""
140                                              ""0""

    ""How often do you use AI tools for creativity (e.g. writing. coding. music. fine arts. food recipes. etc.)?""  \
0                                                ""4""
50                                               ""3""
63                                               ""4""
128                                              ""3""
131                                              ""4""
135                                              ""4""
137                                              ""3""
140                                              ""3""

    ""Please indicate if you have any of the following health problems.""";
0                                           ""anan""";
50                                              """"";
63                                              """"";
128                                             """"";
131                                             """"";
135                                             """"";
137                                             """"";
140                                             """"";
                      "Timestamp  \
1  "2024/11/05 12:45:26 PM GMT+1

  ""Participant ID (top-right corner of the screen)"" ""How old are you?""  \
1                                             ""11""                ""11""

             ""Gender?""        ""What describes you the best?""  \
1  ""Prefer not to say""  ""Student/semi-professional musician""

  ""How comfortable are you in expressing emotions?""  \
1                                              ""0""

  ""Have you ever played with the drummer bot dB before?""  \
1                                             ""No""

  ""How much prior experience do you have with interactive musical interfaces (e.g. sensor systems. digital control devices)?""  \
1                                              ""0""

  ""How often do you use AI tools for creativity (e.g. writing. coding. music. fine arts. food recipes. etc.)?""  \
1                                              ""0""

  ""Please indicate if you have any of the following health problems.""";
1                                         ""Test""";

In [4]:
## drop test data
pre = pre.drop(index=[0, 1, 63, 128, 131, 135])

In [5]:
## rename columns and remove quotes

pre_columns = pre.columns
pre_data = pre[[pre_columns[1], pre_columns[3], pre_columns[4], pre_columns[5]]]
pre_data.columns = ['Participant_ID', 'Gender', 'Personal description', 'Comfortable with expressing emotions']
pre_data = pre_data.map(lambda x: x.strip('"') if isinstance(x, str) else x)

during_columns = during.columns
during_data = during[[during_columns[1], during_columns[2], during_columns[5]]]
during_data.columns = ['Session_ID', 'Participant_ID', 'Excitement']
during_data = during_data.map(lambda x: x.strip('"') if isinstance(x, str) else x)

post_columns = post.columns
post_data = post[[post_columns[1], post_columns[3], post_columns[7]]]
post_data.columns = ['Participant_ID', 'Control', 'Creative expression']
post_data = post_data.map(lambda x: x.strip('"') if isinstance(x, str) else x)

In [6]:
## Remove participants according to the instructions
pre_data = pre_data[~pre_data['Participant_ID'].isin(['grup16', 'group15a', 'group15b', 'group15c'])]
during_data = during_data[~during_data['Participant_ID'].isin(['grup16', 'group15a', 'group15b', 'group15c'])]
post_data = post_data[~post_data['Participant_ID'].isin(['grup16', 'group15a', 'group15b', 'group15c'])]

In [7]:
## check session ID
print(during_data['Session_ID'].unique())

['ILLIAC' 'CYSP' 'VOYAGER' 'ALICE' 'Alice' 'illiac' 'voyager' 'cysp'
 'alice' '1' '3' '2' '4' 'ALLICE' 'iliac' 'ILLIAD' 'Crysp' 'Voyager'
 'Cysp' 'group18_j1_1' 'group18_j1_2' 'group18_j1_3' 'group18_j1_4'
 'Illiac' ' ALICE' 'x' ' VOYAGER']

In [8]:
## Fix session naming
during_data['Session_ID'] = during_data['Session_ID'].str.upper()
during_data['Session_ID'] = during_data['Session_ID'].replace('ALLICE', 'ALICE')
during_data['Session_ID'] = during_data['Session_ID'].replace(' ALICE', 'ALICE')
during_data['Session_ID'] = during_data['Session_ID'].replace('ILIAC', 'ILLIAC')
during_data['Session_ID'] = during_data['Session_ID'].replace('ILLIAD', 'ILLIAC')
during_data['Session_ID'] = during_data['Session_ID'].replace('CRYSP', 'CYSP')
during_data['Session_ID'] = during_data['Session_ID'].replace(' VOYAGER', 'VOYAGER')

## Delete all rows with an incorrect session name
during_data = during_data[during_data['Session_ID'].isin(['ALICE', 'ILLIAC', 'CYSP', 'VOYAGER'])]
print(during_data['Session_ID'].unique(), during_data.nunique())

['ILLIAC' 'CYSP' 'VOYAGER' 'ALICE'] Session_ID          4
Participant_ID    108
Excitement          5
dtype: int64

In [9]:
## remove duplicates if any
pre_data = pre_data.drop_duplicates(subset=['Participant_ID'], keep='first')
during_data = during_data.drop_duplicates(subset=['Participant_ID', 'Session_ID'], keep='first')
post_data = post_data.drop_duplicates(subset=['Participant_ID'], keep='first')

In [10]:
print(pre_data.shape)
print(pre_data.nunique())
print(during_data.shape)
print(during_data.nunique())
print(post_data.shape)
print(post_data.nunique())

(119, 4)
Participant_ID                          119
Gender                                    2
Personal description                      5
Comfortable with expressing emotions      5
dtype: int64
(385, 3)
Session_ID          4
Participant_ID    108
Excitement          5
dtype: int64
(111, 3)
Participant_ID         111
Control                  5
Creative expression      5
dtype: int64

### Match data based on Participant ID

In [ ]:
df = pre_data.merge(post_data, on='Participant_ID', how='outer', indicator=True)
only_pre = df[df['_merge'] == 'left_only']
only_post = df[df['_merge'] == 'right_only']
both = df[df['_merge'] == 'both']
print(both.shape)
both.head()

(109, 7)

,Participant_ID,Gender,Personal description,Comfortable with expressing emotions,Control,Creative expression,_merge
2,16_01,Female,Averagely interested in music,4,1,4,both
3,16_02,Female,Averagely interested in music,3,1,2,both
4,16_s_1,Male,Averagely interested in music,3,1,2,both
5,16_s_2,Male,Avid music listener,4,3,4,both
6,16_s_3,Male,Avid music listener,2,1,3,both

In [28]:
df_all = pd.merge(both, during_data, on='Participant_ID', how='inner')
df_all

,Participant_ID,Gender,Personal description,Comfortable with expressing emotions,Control,Creative expression,Session_ID,Excitement
0,16_s_1,Male,Averagely interested in music,3,1,2,VOYAGER,1
1,16_s_1,Male,Averagely interested in music,3,1,2,ALICE,2
2,16_s_1,Male,Averagely interested in music,3,1,2,CYSP,2
3,16_s_1,Male,Averagely interested in music,3,1,2,ILLIAC,1
4,16_s_2,Male,Avid music listener,4,3,4,VOYAGER,1
...,...,...,...,...,...,...,...,...
369,pluto3,Male,Avid music listener,3,1,0,ILLIAC,0
370,pluto3,Male,Avid music listener,3,1,0,VOYAGER,0
371,sigvebl,Male,Averagely interested in music,1,1,2,ILLIAC,2
372,sigvebl,Male,Averagely interested in music,1,1,2,ALICE,3
373,sigvebl,Male,Averagely interested in music,1,1,2,CYSP,1